# Dossiers de build et de distribution
target/
out/
build/
tmp/

# Fichiers temporaires ou de sauvegarde
*.log
*.tmp
*.bak
*.swp
*.swo
*.old

# Fichiers de configuration d'éditeur
.vscode/
.idea/
*.iml

# ======================
# C / C++
# ======================
# Dossiers de build
build/
cmake-build-*/
*.o
*.obj
*.so
*.exe
*.dll
*.out
*.a
*.dylib

# ======================
# Rust
# ======================
**/*.rs.bk
Cargo.lock
