# Dossiers de build et de distribution
target/
out/
builddir/
tmp/

# Fichier pour le latex
*.aux
*.log
*.synctex.gz
*.fdb_latexmk
*.fls
*.out
*.toc


# Fichiers temporaires ou de sauvegarde
*.log
*.tmp
*.bak
*.swp
*.swo
*.old

# Fichiers de configuration d'éditeur
.vscode/
.idea/
*.iml

# ======================
# C / C++
# ======================
# Dossiers de build
build/
cmake-build-*/
*.o
*.obj
*.so
*.exe
*.dll
*.out
*.a
*.dylib

# ======================
# Rust
# ======================
**/*.rs.bk
Cargo.lock

.pytest_cache/
__pycache__/
